.content-navigation {
  font-weight: 600;
  text-align: left;
  width: 100%;
  padding:  8px 10px;
  background: #24292e;
  color: white;
}

.content-navigation ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 20px;
  vertical-align: top;
}

.content-navigation li {
  display:  inline-block;
  padding: 0 10px 0 0;
  font-size: small;
}

.content-navigation li:last-child {
  color: darkgrey;
}

.content-navigation a {
  color: white;
  text-decoration: none;
}

.content-title {
  background: #fafbfc;

  padding: 0 10px 0;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid #e1e4e8;

}

.content-title svg {
  fill: #959da5;
  margin-right: 6px;
  vertical-align: bottom;
}

.content-title a {
  color: #0366d6;
  text-decoration: none;
}

.content-title a:last-child {
  font-weight: 600;
}

.content-title .inner .location {
  color: #0366d6;
  padding: 12px 0;
  font-size: 1.1em;
}
.content-body {
  background: #fafbfc;
  padding: 0;
}

.content-body .inner {
  padding: 0;
}

.content-body .title {
  padding-bottom: 5px;
}

.content-body .title a {
  color:  #24292e;
  text-decoration: none;
  font-size: 1.3em;
}

.content-body .title .issue-number {
  font-weight: 300;
  color: #a3aab1;
  letter-spacing: -1px;
}

.content-body .avatar img {
  height: 28px;
  width: 28px;
  margin-right: 2px;
  vertical-align: bottom;
}

.content-body .subtitle {
  margin-bottom: 4px;
}

.content-body .subtitle .state {
  display: inline-block;
  padding: 4px 8px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #949494;
  border-radius: 3px;
  font-size: 14px;
}

.content-body .subtitle .state svg {
  fill: white;
  vertical-align: sub;
}

.content-body .subtitle .state.open {
  background-color: #949494;
  color: white;
}

.content-body .subtitle .state.closed {
  background-color: #cb2431;
  color: white;
}

@media (max-width: 980px) {
  .content-body .title a {
    font-weight: 600;
    font-size: 1.1em;
  }
  .content-body .readline {
    font-size: 0.8em;
  }
}

.content-body .markdown {
  background: #fafbfc;
}

.content-title .inner,
.content-body .inner {
  width: 100%;
  max-width: 980px;
  margin: auto;
}

.content-container {
  text-align: left;
  flex: 1;
}

.content-outer {
  max-width: 980px;
  margin: auto;
}
