#loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: wait;
}

#loading.hide {
  display: none;
}

#loading.show {
  display: block;
}

.loading,
.empty {
  padding: 10px;
  font-size: 0.9em;
}
