.menu {
  padding: 0 !important;
  margin-bottom: -1px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  position: relative;
  display: inline-block;
  background: transparent;
}

.menu li a {
  overflow: hidden;
}

.menu svg {
  fill: #959da5;
  margin-right: 6px;
  vertical-align: bottom;
}

.menu li.selected {
  position: relative;
  display: inline-block;
  border-top: 1px solid #e1e4e8;
  border-left: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
  border-radius: 3px 3px 0px 0px;
  background: white;
}

.menu li.selected .text {
  color: #24292e;
  font-weight: 600;
}

.menu li.selected svg {
  fill: #24292e;
}

.menu li.selected .selector {
  height: 3px;
  background-color: #e36209;
  margin-top: 0px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.menu li .text {
  padding: 8px 12px 10px;
  color: #586069;
  font-size: 14px;
  font-weight: 400;
}

.menu li a {
  padding: 0;
  margin: 0;
}
