#tooltip {
  position: fixed;
  padding: 4px 6px;
  border-radius: 3px;
  visibility: hidden;
  background: #24292e;
  color: white;
}

#tooltip.show {
  visibility: visible;
}

#tooltip-triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #24292e;
  border-radius: 1px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  left: 78px;
}
